html {
    min-width: 500px;
    background-color: #ddd;
    color: #444;
    text-align: center;
    font-size: 16px;
    font-family:
        "Lucida Grande",
        "Segoe UI",
        sans-serif;
}

h1 {
    font-size: 120%;
    margin: 2px;
    margin-bottom: 6px;
    padding: 0px;
    text-align: center;
}

body {
    text-align: center;
    margin: 0px;
}

#container div {
    padding: 12px;

    border-radius: 2px;

    text-align: left;

    display: inline-block;

    max-width: 700px;
}

#container {
    background-color: #eee;
    text-align: center;

    display: block;

    margin: 0px auto;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.node,
.node:visited {
    color: #888;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.favicon {
    margin-right: 6px;
    vertical-align: middle;
    background-color: #fff;
    padding: 3px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

.title {
    color: #000;
}

#footer a {
    text-decoration: none;
    color: #888;

    display: inline-block;
}

#footer {
    margin: 0.50em 1.00em 0.75em;
}

#footer a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

.separator {
    margin: 0px 10px;
    display: inline-block;
    color: #aaa;
}

#top-sites {
    display: none;
}

.node {
    display: block;
    padding: 4px 10px 8px;
    border-radius: 6px;
    border: 1px solid transparent;
}

.node:hover {
    background-color: rgba(255, 255, 255, 0.85);
    border-color:     rgba(  0,   0,   0, 0.20);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.05);
}

.empty-message,
#nav-bar button,
#footer a {
    text-transform: lowercase;
}

#nav-bar {
    padding: 1px;
    margin: 0px;
    background-color: #fafafa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

#nav-bar button {
    margin: 0px 6px;

    padding: 10px 20px 5px;

    background-color: transparent;

    font-size: 100%;

    border: none;
    border-bottom: 6px solid transparent;

    color: #666;
    text-decoration: none;
    display: inline-block;
}

#nav-bar button.current,
#nav-bar button.current:hover {
    color: #000;
    border-color: #777;
}

#nav-bar button:hover {
    cursor: pointer;
    border-color: #ccc;
}

.empty-message {
    color: #aaa;
}
