html {
    background-color: #eee;
    color: #444;
    text-align: center;
    font-size: 16px;
    font-family:
        "Lucida Grande",
        "Segoe UI",
        sans-serif;
}

h1 {
    font-size: 120%;
    margin: 2px;
    margin-bottom: 6px;
    padding: 0px;
    text-align: center;
}

body {
    text-align: center;
    /* display: inline-block;*/
    margin: 0px;
}

#bookmarks {
    padding: 12px;

    /* border: 1px solid rgba(0, 0, 0, 0.10);*/

    border-radius: 2px;

    text-align: left;

    display: inline-block;

    /* max-width: 1000px;*/
    max-width: 800px;
}

#top-sites {
    padding: 12px;
}

#container {
    background-color: #f8f8f8;
    text-align: center;

    border: 0px solid rgba(0, 0, 0, 0.20);
    border-top-color: rgba(0, 0, 0, 0.15);

    /* border-bottom-width: 1px;*/
    border-width: 1px 0px;

    /* box-shadow:*/
    /*     0px -3px 0px rgba(0, 0, 0, 0.03),*/
    /*     0px  3px 0px rgba(0, 0, 0, 0.03);*/

    /* box-shadow:*/
    /*     inset 0px 3px 0px rgba(0, 0, 0, 0.03),*/
    /*           0px 3px 0px rgba(0, 0, 0, 0.03);*/

    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.03);
}

.node,
.node:visited {
    color: #888;
    text-decoration: none;
}

.bookmark:hover {
    /* background-color: rgba(255, 255, 255, 0.40);*/
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0.20);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.05);
}

.bookmark {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: rgba(255, 255, 255, 0.20);

    border-radius: 4px;

    margin: 4px 4px;

    padding: 2px 10px;

    padding-bottom: 6px;

    display: inline-block;
    /* display: block;*/

    min-width: 7em;

    /* text-align: center;*/
}

.folder .bookmark {
    display: block;
    margin: 4px;
}

.folder {
    margin-top: 1em;
}

.favicon {
    margin-right: 6px;
    vertical-align: middle;
    background-color: #fff;
    padding: 3px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.60);
    border-radius: 2px;
}

.title {
    color: #000;
}

.bookmark.top-level {
    font-size: 120%;
}

#footer a {
    text-decoration: none;
    color: #888;

    display: inline-block;
}

#footer {
    margin-top: 0.50em;
}

#footer a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
}

#footer .separator {
    margin: 0px 10px;
    display: inline-block;
    color: #aaa;
}

#top-sites {
    text-align: left;
    /* display: inline-block;*/
    display: none;
}

#top-sites .top-site {
    display: block;
    padding: 4px 10px 8px;
    border-radius: 6px;
    border: 1px solid transparent;
}

#top-sites .top-site:hover {
    /* text-decoration: underline;*/

    /* background-color: rgba(0, 0, 0, 0.05);*/
    /* border-color:     rgba(0, 0, 0, 0.05);*/

    background-color: rgba(255, 255, 255, 0.85);
    border-color:     rgba(  0,   0,   0, 0.15);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.05);
}

#nav-bar a,
#footer a {
    text-transform: lowercase;
}

#nav-bar {
    padding: 1px;
}

#nav-bar a {
    margin: 0px 6px;
    padding: 5px 20px;
    color: #666;
    text-decoration: none;
    display: inline-block;
    border-bottom: 6px solid transparent;
    /* border: 0px solid rgba(0, 0, 0, 0.10);*/
    /* border-right-width: 1px;*/
}

#nav-bar a:first-child {
    /* border-left-width: 1px;*/
}

#nav-bar a.current,
#nav-bar a.current:hover {
    color: #000;
    /* font-weight: bold;*/
    /* box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.20);*/
    border-color: #777;
}

#nav-bar a:hover {
    /* text-decoration: underline;*/
    /* box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.10);*/
    border-color: #ccc;
}
